In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('databanks_export_monthly.csv')

In [3]:
df.head()

,Name of Series,Jan-06,Feb-06,Mar-06,Apr-06,May-06,Jun-06,Jul-06,Aug-06,Sep-06,...,Nov-24,Dec-24,Jan-25,Feb-25,Mar-25,Apr-25,May-25,Jun-25,Jul-25,Aug-25
0,Monetary Policy Rate (%),14.5000,14.500000,14.500000,14.500000,14.500000,14.50000,14.500000,14.500000,14.500000,...,27.00,27.00,27.0000,27.00,28.00,28.00,28.00,28.00,25.00,25.00
1,Food Inflation,11.6900,10.730000,10.660000,10.550000,11.430000,10.67000,11.840000,10.770000,8.730000,...,25.94,27.77,28.3100,28.06,26.52,25.02,22.83,16.31,15.14,14.80
2,Headline Inflation,12.7600,12.270000,11.280000,11.210000,11.750000,11.39000,12.910000,12.560000,11.670000,...,23.03,23.82,23.4800,23.13,22.41,21.24,18.38,13.67,12.14,11.48
3,Non-Food Inflation,13.6000,13.460000,11.760000,11.720000,11.990000,11.95000,13.730000,13.930000,13.940000,...,20.66,20.32,19.2300,18.77,18.75,17.86,14.43,11.38,9.53,8.65
4,USD Exchange Rate,0.9083,0.909341,0.910591,0.910991,0.912986,0.91615,0.916618,0.919932,0.920386,...,15.27,14.70,15.3001,15.53,15.53,14.15,10.28,10.31,10.50,11.40

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Columns: 237 entries, Name of Series to Aug-25
dtypes: float64(236), object(1)
memory usage: 24.2+ KB

In [6]:
df_wide = df.set_index('Name of Series').T

In [7]:
df_wide.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, Jan-06 to Aug-25
Data columns (total 13 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Monetary Policy Rate (%)                           236 non-null    float64
 1   Food Inflation                                     236 non-null    float64
 2   Headline Inflation                                 236 non-null    float64
 3   Non-Food Inflation                                 236 non-null    float64
 4   USD Exchange Rate                                  236 non-null    float64
 5   Brent Crude Oil Price (International indicative))  236 non-null    float64
 6   Cocoa Price (International indicative)             236 non-null    float64
 7   Gold Price (International indicative)              236 non-null    float64
 8   Interbank Weighted Average (%, p.a.)               236 non-null    float64
 9   Net Foreign Assets                                 236 non-null    float64
 10  Net International Reserves, NIR                    236 non-null    float64
 11  Imports (f.o.b)                                    236 non-null    float64
 12  Exports (f.o.b)                                    236 non-null    float64
dtypes: float64(13)
memory usage: 25.8+ KB

In [8]:
# Convert column names of df_wide to datetime in the format 'mm-dd-yyyy'
df_wide.index = pd.to_datetime(df_wide.index, format='%b-%y')
df_wide.index = df_wide.index.strftime('%m-%d-%Y')

In [9]:
df_wide

Name of Series,Monetary Policy Rate (%),Food Inflation,Headline Inflation,Non-Food Inflation,USD Exchange Rate,Brent Crude Oil Price (International indicative)),Cocoa Price (International indicative),Gold Price (International indicative),"Interbank Weighted Average (%, p.a.)",Net Foreign Assets,"Net International Reserves, NIR",Imports (f.o.b),Exports (f.o.b)
01-01-2006,14.5,11.69,12.76,13.60,0.908300,63.90,1518.30,550.80,10.3425,1422.8100,1286.400,490.80,330.10
02-01-2006,14.5,10.73,12.27,13.46,0.909341,61.10,1482.20,555.60,8.6500,1409.5800,1272.300,547.90,287.80
03-01-2006,14.5,10.66,11.28,11.76,0.910591,63.10,1481.20,557.20,8.3900,1733.8400,1597.300,571.80,348.40
04-01-2006,14.5,10.55,11.21,11.72,0.910991,70.60,1471.60,612.30,8.5725,1762.7300,1624.000,515.90,292.30
05-01-2006,14.5,11.43,11.75,11.99,0.912986,71.00,1518.30,673.60,9.3975,1727.7000,1579.300,523.80,341.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
04-01-2025,28.0,25.02,21.24,17.86,14.150000,66.30,8533.86,3218.16,26.9200,5210.0619,7916.534,1403.82,2232.43
05-01-2025,28.0,22.83,18.38,14.43,10.280000,63.69,9676.05,3289.34,27.0200,5353.0221,8051.549,1540.07,2278.63
06-01-2025,28.0,16.31,13.67,11.38,10.310000,69.84,9155.10,3351.59,27.0200,6162.3280,8882.603,1512.68,2258.94
07-01-2025,25.0,15.14,12.14,9.53,10.500000,69.59,8091.95,3341.18,22.7600,5274.4018,7991.081,1760.27,2286.44
08-01-2025,25.0,14.80,11.48,8.65,11.400000,67.26,8074.29,3362.33,23.2800,5657.6115,8382.742,1859.94,1908.98

In [10]:
df_wide.info()

<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 01-01-2006 to 08-01-2025
Data columns (total 13 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Monetary Policy Rate (%)                           236 non-null    float64
 1   Food Inflation                                     236 non-null    float64
 2   Headline Inflation                                 236 non-null    float64
 3   Non-Food Inflation                                 236 non-null    float64
 4   USD Exchange Rate                                  236 non-null    float64
 5   Brent Crude Oil Price (International indicative))  236 non-null    float64
 6   Cocoa Price (International indicative)             236 non-null    float64
 7   Gold Price (International indicative)              236 non-null    float64
 8   Interbank Weighted Average (%, p.a.)               236 non-null    float64
 9   Net Foreign Assets                                 236 non-null    float64
 10  Net International Reserves, NIR                    236 non-null    float64
 11  Imports (f.o.b)                                    236 non-null    float64
 12  Exports (f.o.b)                                    236 non-null    float64
dtypes: float64(13)
memory usage: 25.8+ KB